<h1>Listing section_piece_params</h1>

<table>
  <tr>
    <th>Section piece</th>
    <th>Editor</th>
    <th>Param category</th>
    <th>Pclass</th>
    <th>Class name</th>
    <th>Html attribute ids</th>
    <th>Param conditions</th>
  </tr>

<% @section_piece_params.each do |section_piece_param| %>
  <tr>
    <td><%=h section_piece_param.section_piece_id %>:<%=h section_piece_param.section_piece.slug %></td>
    <td><%=h section_piece_param.editor_id %>:<%=h section_piece_param.editor.slug %></td>
    <td><%=h section_piece_param.param_category_id %>:<%=h section_piece_param.param_category.slug %></td>
    <td><%=h section_piece_param.pclass %></td>
    <td><%=h section_piece_param.class_name %></td>
    <td><%=h section_piece_param.html_attribute_ids %></td>
    <td><%=h section_piece_param.param_conditions %></td>
    <td><%= link_to 'Show', section_piece_param %></td>
    <td><%= link_to 'Edit', edit_section_piece_param_path(section_piece_param) %></td>
    <td><%= link_to 'Destroy', section_piece_param, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New section_piece_param', new_section_piece_param_path %>