<h1>Listing page_layouts</h1>

<table>
  <tr>
    <th>Perma name</th>
    <th>Section</th>
    <th>TemplateTheme</th>
    <th>Is enable</th>
  </tr>

<% @page_layouts.each do |page_layout| %>
  <% page_layout.themes.each do |theme| %>
  <tr>
    <td><%=h page_layout.slug %></td>
    <td><%=h page_layout.section_id %></td>
    <td><%=h theme.slug%></td>
    <td><%=h page_layout.is_enabled %></td>
    <td><%= link_to 'Build', :action=>"build",:layout_id=>page_layout.id, :theme_id=>theme.id %></td>
    <td><%= link_to 'Generate', :action=>"generate",:layout_id=>page_layout.id, :theme_id=>theme.id   %></td>
    <td><%= link_to 'Content', :action=>"content",:layout_id=>page_layout.id, :theme_id=>theme.id  %></td>
    <td><%= link_to_function 'Preivew',
"window.open('#{url_for( :action=>"preview",:layout_id=>page_layout.id, :theme_id=>theme.id)}','rle_prevew')"
  %></td>
  </tr>
  <% end %>
<% end %>

</table>