<h1>Editing param_category</h1>

<% form_for(@param_category) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :editor_id %><br />
    <%= select("param_category", "editor_id", Editor.all.collect {|p| [ p.perma_name, p.id ] }, { :include_blank => true }) %>
  </p>
  <p>
    <%= f.label :perma_name %><br />
    <%= f.text_field :perma_name %>
  </p>
  <p>
    <%= f.label :is_enabled %><br />
    <%= f.check_box :is_enabled %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @param_category %> |
<%= link_to 'Back', param_categories_path %>