<h1>New param_category</h1>

<% form_for(@param_category) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :editor_id %><br />
    <%= select("param_category", "editor_id", Editor.all.collect {|p| [ p.slug, p.id ] }, { :include_blank => true }) %>
  </p>
  <p>
    <%= f.label :slug %><br />
    <%= f.text_field :slug %>
  </p>
  <p>
    <%= f.label :is_enabled %><br />
    <%= f.check_box :is_enabled %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', param_categories_path %>