<h1>New section</h1>

<% form_for(@section) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :root_id %><br />
    <%= select("section", "root_id", Section.all(:conditions=>'id=root_id').collect {|p| [ p.slug, p.id ] }, { :include_blank => true }) %>
  </p>
  <p>
    <%= f.label :parent_id %><br />
    <%= select("section", "parent_id", Section.all().collect {|p| [ p.slug, p.id ] }, { :include_blank => true }) %>
  </p> 
  <p>
    <%= f.label :slug %><br />
    <%= f.text_field :slug %>
  </p>
  <p>
    <%= f.label :section_piece_id %><br />
    <%= select("section", "section_piece_id", SectionPiece.all().collect {|p| [ p.slug, p.id ] }, { :include_blank => true }) %>
  </p>

  <p>
    <%= f.label :is_enabled %><br />
    <%= f.check_box :is_enabled %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', sections_path %>