<p>
  <b>Root:</b>
  <%=h @section.root_id %>
</p>

<p>
  <b>Parent:</b>
  <%=h @section.parent_id %>
</p>

<p>
  <b>Lft:</b>
  <%=h @section.lft %>
</p>

<p>
  <b>Rgt:</b>
  <%=h @section.rgt %>
</p>

<p>
  <b>Perma name:</b>
  <%=h @section.slug %>
</p>

<p>
  <b>Section piece:</b>
  <%=h @section.section_piece_id %>
</p>

<p>
  <b>Section piece instance:</b>
  <%=h @section.section_piece_instance %>
</p>

<p>
  <b>Is enable:</b>
  <%=h @section.is_enabled %>
</p>


<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>