<h1>Editing uploaded_image</h1>

<% form_for(@uploaded_image) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :layout_id %><br />
    <%= f.text_field :layout_id %>
  </p>
  <p>
    <%= f.label :theme_id %><br />
    <%= f.text_field :theme_id %>
  </p>
  <p>
    <%= f.label :file_name %><br />
    <%= f.text_field :file_name %>
  </p>
  <p>
    <%= f.label :original_file_name %><br />
    <%= f.text_field :original_file_name %>
  </p>
  <p>
    <%= f.label :file_size %><br />
    <%= f.text_field :file_size %>
  </p>
  <p>
    <%= f.label :width %><br />
    <%= f.text_field :width %>
  </p>
  <p>
    <%= f.label :height %><br />
    <%= f.text_field :height %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @uploaded_image %> |
<%= link_to 'Back', template_files_path %>