<p>
  <b>Layout:</b>
  <%=h @uploaded_image.layout_id %>
</p>

<p>
  <b>TemplateTheme:</b>
  <%=h @uploaded_image.theme_id %>
</p>

<p>
  <b>File name:</b>
  <%=h @uploaded_image.file_name %>
</p>

<p>
  <b>Original file name:</b>
  <%=h @uploaded_image.original_file_name %>
</p>

<p>
  <b>File size:</b>
  <%=h @uploaded_image.file_size %>
</p>

<p>
  <b>Width:</b>
  <%=h @uploaded_image.width %>
</p>

<p>
  <b>Height:</b>
  <%=h @uploaded_image.height %>
</p>


<%= link_to 'Edit', edit_uploaded_image_path(@uploaded_image) %> |
<%= link_to 'Back', template_files_path %>