<%-
  #params: @template_themes, @theme, 
  #@page_layout, current selected page_layout, it could be root or not. 
  #@editors, 
  #@param_values_for_editors
-%>

<div >
  <div>
    <%=render :partial=>"layout_selection", :locals=>{:template_themes=>@template_themes, :selected=>@theme} %>
    <% if Website.current.previewable?%>
        <%= link_to_function "Preview", "window.open('#{preview_template_themes_path}','rle-preview')"%>
    <% else%>
    <%= link_to "Preview setting", publish_template_themes_url%>
    <% end%>
    <%= link_to "Edit layout", edit_layout_template_theme_url(@theme)%>
  </div>
  <div class="clear-block">
    <%=render :partial=>"layout_editor"%>
  </div>
</div>

