<h1>Listing themes</h1>

<table>
  <tr>
    <th>TemplateTheme</th>
  </tr>

<% @themes.each do |theme| %>
  <tr>
    <td><%=h theme.perma_name %></td>

    <td><%= link_to 'Destroy', theme, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to 'copy', {:action=>"copy",:id=>theme}, {:method=>:post} %></td>
    <td><%= link_to 'Editor', editor_template_theme_path(theme) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New theme', new_template_theme_path %>