<ul class="menu clear-block block">
    <li >
    <%= link_to 'param categories', param_categories_path %>
  </li>
  <li>
    <%= link_to 'section pieces', section_pieces_path %>
  </li>
  <li>
    <%= link_to 'section piece params', section_piece_params_path %>
  </li>
  <li>
    <%= link_to 'erubis', "/erubis" %>
  </li>
  <li>
    <%= link_to 'section', sections_path %>
  </li>

  <li>
    <%= link_to 'section params', section_params_path %>
  </li>
  <li>
    <%= link_to 'param values', param_values_path %>
  </li>
  <li>
    <%= link_to 'page layouts', page_layouts_path %>
  </li>
  <li>
    <%= link_to 'menus', menus_path %>
  </li>
  <li>
    <%= link_to 'blog posts', blog_posts_path %>
  </li>
  <li>
    <%= link_to 'themes', template_themes_path %>
  </li>

</ul>