<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Sections: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'refinerycms-template' %>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'jquery-ui/smoothness/jquery-ui' %>
  <%= javascript_include_tag  :defaults %>
  <%= javascript_include_tag  'jquery.form.js' %>
</head>
<body>
<div id="header">
  <%= render :partial => "/layouts/main_menu" %>
  <% if File.exists?("app/views/#{params[:controller]}/_sub_menu.html.erb")-%>
  <%= render :partial => "sub_menu" %>
  <% end-%>
</div>
<div id="message">
<%= render :partial=>"/base/message_box"%>
</div>
<div id="content">
<%= yield %>
</div>
<%= render :partial=>"/base/model_dialog"%>
</body>
</html>
